* {
    box-sizing: border-box;
    margin: 0;
}

main {
    position: absolute;
    top: 45%;
    left: 44%;
    border: 3px solid green;
    height: 85vh;
}

.circle {
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    height: 150px;
    width: 150px;
}

.circlePurple {
    background: purple;
    position: fixed;
}

.circleBlack {
    background: black;
    position: relative;
    top: 150px;
}

.circleLime {
    background: limegreen;
    position: relative;
    top: 150px;
}