* {
    box-sizing: border-box;
    margin: 0;
    font-weight: bolder;
    font-size: 2rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    text-align: center;
    width: 50%;
    height: 100%;
    margin-top: 30%;
    grid-template-areas:
        "col-1 col-2 col-3"
        "col-4 col-5 col-6"
        "col-7 col-8 col-9";
    grid-template-rows: 100% 100% 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

#col-1, #col-2, #col-3,
#col-4, #col-5, #col-6,
#col-7, #col-8, #col-9 {
    border: 5px solid black;
}